<h1>Artists</h1>

<ul>
  <% @artists.each do |p| %>
    <li><%=p.name%></li>
    
    <li><%= link_to p.name, artists_path(p) %></li>
    <%=p.song_count%> <%="song".pluralize(p.song_count)%>
  <% end %>
</ul>
